<!DOCTYPE html>
<html>
<head>
    <title>Directory Content</title>
</head>
<body>
    <h1>Directory Content</h1>
    <h2>Directory Name: {{ directory.name }}</h2>
    <h3>Subdirectories:</h3>
    <ul>
        {% for subdirectory in subdirectories %}
            <li>
                <a href="{% url 'directory_content' subdirectory.id %}">{{ subdirectory.name }}</a>
            </li>

        {% endfor %}
    </ul>
    <h3>Files:</h3>
    <ul>
        {% for file in files %}
            <li><a href="{% url 'file_content' file.id %}">{{ file.name }}</a></li>
        {% endfor %}
    </ul>

    {% if directory.parent_directory %}
        <p><a href="{% url 'directory_content' directory.parent_directory.id %}">Back to Parent Directory</a></p>
    {% else %}
    <!-- If no parent directory, provide a link to go back to the drive -->
        <p><a href="{% url 'drive_content' drive_id=directory.drive.id %}">Back to Drive</a></p>
    {% endif %}
</body>
</html>
