<!DOCTYPE html>
<html>
<head>
    <title>Drive Content</title>
</head>
<body>
    <h1>Drive Content</h1>
    <h2>{{ drive.name }}</h2>

    <h3>Directories:</h3>
    {% if user == drive.owner %}
        <a href="{% url 'add_directory' drive.id %}">Add Directory</a>
    {% endif %}
    <ul>
        {% for directory in directories %}
            <li>
                <button type="button" onclick="location.href='{% url 'directory_content' directory.id %}'">{{ directory.name }}</button>

                {% if has_reader_access %}
                    <!-- Users with reader_access can only view directories, not edit or delete -->
                {% else %}
                    {% if user == drive.owner %}
                        <!-- The directory owner can edit and delete the directory -->
                        <a href="{% url 'add_file' drive.id directory.id %}">Add File</a>
                        <a href="{% url 'edit-directory' drive.id directory.id %}">Edit</a>
                        <a href="{% url 'delete_directory' directory.id %}">Delete</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h3>Files:</h3>
    <ul>
        {% for file in files %}
            <li>
                <button type="button" onclick="location.href='{% url 'file_content' file.id %}'">{{ file.name }}</button>

                {% if has_reader_access %}
                    <!-- Users with reader_access can only view files, not delete -->
                {% else %}
                    {% if user == drive.owner %}
                        <!-- The file owner can delete the file -->
                        <a href="{% url 'edit_file' file.id %}">Edit</a>
                        <a href="{% url 'delete_file' file_id=file.id %}">Delete</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if not has_reader_access and user == drive.owner %}
        <!-- The drive owner can edit the drive -->
        <p><a href="{% url 'add_file' drive.id %}">Add File to Drive</a></p>
        <a href="{% url 'edit-drive' drive.id %}">Edit Drive</a>
    {% endif %}

    <p><button type="button" onclick="location.href='{% url 'drive_list' %}'">Back to Drives List</button></p>
</body>
</html>
